<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>A petal for three</title>
        <link rel="stylesheet" href="/css/reset.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/css/index.css" media="screen" charset="utf-8">
    </head>
    <body>
        <div class="content_menu">
            <div id="left-menu"></div>
        </div>
        <div id="right-menu"></div>

        <div class="container">
            <div class="petal p_one">
                <div class="motors">
                    <div id="motor_1F1" data-rotation="0" data-max-rotation="30" data-height="120" class="motor m_one"></div>
                    <div id="motor_1F2" data-rotation="0" data-max-rotation="22" data-height="88" class="motor m_two"></div>
                    <div id="motor_1B1" data-rotation="0" data-max-rotation="11" data-height="44" class="motor m_three"></div>
                    <div id="motor_1B2" data-rotation="0" data-max-rotation="9" data-height="36" class="motor m_four"></div>
                </div>
                <div class="sensors As">
                    <div id="sensor_1a" class="sensor s_one"></div>
                    <div id="sensor_1b" class="sensor s_two"></div>
                    <div id="sensor_1c" class="sensor s_three"></div>
                </div>
            </div>
            <div class="petal p_two">
                <div class="motors">
                    <div id="motor_2F1" data-rotation="0" data-max-rotation="30" data-height="120" class="motor m_five"></div>
                    <div id="motor_2F2" data-rotation="0" data-max-rotation="22" data-height="88" class="motor m_six"></div>
                    <div id="motor_2B1" data-rotation="0" data-max-rotation="11" data-height="44" class="motor m_seven"></div>
                    <div id="motor_2B2" data-rotation="0" data-max-rotation="9" data-height="36" class="motor m_eight"></div>
                </div>
                <div class="sensors Bs">
                    <div id="sensor_2a" class="sensor s_one"></div>
                    <div id="sensor_2b" class="sensor s_two"></div>
                    <div id="sensor_2c" class="sensor s_three"></div>
                </div>
            </div>
            <div class="petal p_three">
                <div class="motors">
                    <div id="motor_3F1" data-rotation="0" data-max-rotation="30" data-height="120" class="motor m_nine"></div>
                    <div id="motor_3F2" data-rotation="0" data-max-rotation="22" data-height="88" class="motor m_ten"></div>
                    <div id="motor_3B1" data-rotation="0" data-max-rotation="11" data-height="44" class="motor m_eleven"></div>
                    <div id="motor_3B2" data-rotation="0" data-max-rotation="9" data-height="36" class="motor m_twelve"></div>
                </div>
                <div class="sensors Cs">
                    <div id="sensor_3a" class="sensor s_one"></div>
                    <div id="sensor_3b" class="sensor s_two"></div>
                    <div id="sensor_3c" class="sensor s_three"></div>
                </div>
            </div>
            <div class="line"></div>
        </div>

    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/lib/external/jQuery.js" charset="utf-8"></script>
    <script src="/js/lib/external/jQueryEasing.js" charset="utf-8"></script>
    <script src="/js/lib/external/dat.gui.js" charset="utf-8"></script>
    <script src="/js/lib/internal/global.js" charset="utf-8"></script>
    <script src="/js/lib/instances/motors.js" charset="utf-8"></script>
    <script src="/js/init.js" charset="utf-8"></script>
    <script src="/js/lib/internal/left-menu.js" charset="utf-8"></script>
    <script src="/js/lib/internal/right-menu.js" charset="utf-8"></script>

</html>
