<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>A petal for three</title>
        <link rel="stylesheet" href="/css/reset.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/css/index.css" media="screen" charset="utf-8">
    </head>
    <body>
        <div id="left-menu"></div>
        <div id="right-menu"></div>

        <div class="container">
            <div class="petal p_one">
                <div id="motor_a1" class="motor one"></div>
                <div id="motor_a2" class="motor two"></div>
                <div id="motor_a3" class="motor three"></div>
                <div id="motor_a4" class="motor four"></div>
            </div>
            <div class="petal p_two">
                <div id="motor_b1" class="motor five"></div>
                <div id="motor_b2" class="motor six"></div>
                <div id="motor_b3" class="motor seven"></div>
                <div id="motor_b4" class="motor eight"></div>
            </div>
            <div class="petal p_three">
                <div id="motor_c1" class="motor nine"></div>
                <div id="motor_c2" class="motor ten"></div>
                <div id="motor_c3" class="motor eleven"></div>
                <div id="motor_c4" class="motor twelve"></div>
            </div>
            <div class="line"></div>
        </div>

    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/lib/external/jQuery.js" charset="utf-8"></script>
    <script src="/js/lib/external/dat.gui.js" charset="utf-8"></script>
    <script src="/js/lib/internal/global.js" charset="utf-8"></script>
    <script src="/js/lib/instances/motors.js" charset="utf-8"></script>
    <script src="/js/init.js" charset="utf-8"></script>
    <script src="/js/lib/internal/left-menu.js" charset="utf-8"></script>
    <script src="/js/lib/internal/right-menu.js" charset="utf-8"></script>

</html>
