body {
    overflow: hidden;
}
select {
    color: #000000;
}
.dg.ac {
    z-index: 999 !important;
}
.top, .left, .right, .front {
    border: 1px solid #000000;
}

#left-menu {
    position: absolute;
    z-index: 9999;
    margin-left: 15px;
}
#right-menu {
    position: absolute;
    z-index: 9999;
    right: 0;
    margin-right: 15px;
}
.container {
    width: 900px;
    height: 100vh;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.petal {
    display: flex;
    justify-content: space-between;

    width: 33.3%;
    /*background: #000;
    opacity: 0.2;*/
}

.p_two {
    padding: 0 10%;
}

.motor {
    align-self: center;
    border: 1px solid #000000;
    width: 50px;
    background: #000000;
    z-index: 1;
}

.line {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 50%;
    background: #000;
    border: 1px solid #000;
    opacity: 0.1;
    height: 1px;
    z-index: 0;
}

/*.motor.one {
    margin-left: -330px;
}

.motor.two {
    margin-left: -275px;
}

.motor.three {
    margin-left: -220px;
}

.motor.four {
    margin-left: -165px;
}

.motor.five {
    margin-left: -110px;
}

.motor.six {
    margin-left: -55px;
}



.motor.twelve {
    margin-left: 330px;
}

.motor.eleven {
    margin-left: 275px;
}

.motor.ten {
    margin-left: 220px;
}

.motor.nine {
    margin-left: 165px;
}

.motor.eight {
    margin-left: 110px;
}

.motor.seven {
    margin-left: 55px;
}*/
